.secondScreen {
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: left;
    /* align-items: center;
    flex-direction: column; */
    background-color: #0A213B;
    /* border: 1px solid lime; */
}

.secondScreenContent {
    margin: 0;
    /* padding: 50%; */
    color: white;
}


.carouselContainer {
    margin-top: 56px;
    max-width: 950px;
}

button.image-gallery-icon {
    color: #0A213B;
}

.carouselBlurbs {
    color: white;
}