.thirdScreen {
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0A213B;
    /* border: 1px solid red; */
}

.formHeader {
    color: white;
}

.emailForm {
    color: white;
    display: flex;
    flex-direction: column;
    width: 550px;

}

.sendButton {
    color:#0A213B;
    background: white;
    /* border: none; */
}