.thirdScreen {
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #122c34;
    /* border: 1px solid red; */
}

.formHeader {
    color: white;
}

.emailForm {
    color: white;
    display: flex;
    flex-direction: column;

}