.modal {
    z-index: 150;
}

.emailForm {
    color: white;
    display: flex;
    flex-direction: column;
    width: 550px;

}

.sendButton {
    color:#0A213B;
    background: white;
    /* border: none; */
}