.landingScreen {
    height: 100vh;
    color: white;
    background-color: black;
}

.firstParagraph {
  margin: auto;
  padding: 10px;
  text-align: center;
}

@keyframes dropIn {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes flyUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.landing-screen-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 25%;
}

.firstL {
  animation: 1s ease-out 0s 1 dropIn;
}

.secondL{
  animation: 1s ease-out 0s 1 dropIn;
}

.thirdL{
  animation: 1s ease-out 0s 1 dropIn;
}

.fourthL{
  animation: 1s ease-out 0s 1 dropIn;
}

.fithL{
  padding-right: 5px;
  animation: 1s ease-out 0s 1 dropIn;
}

.sixthL {
  animation: 1s ease-out 0s 1 flyUp;
}

.seventhL {
  animation: 1s ease-out 0s 1 flyUp;
}

.eighthL {
  animation: 1s ease-out 0s 1 flyUp;
}

.ninthL {
  animation: 1s ease-out 0s 1 flyUp;
}

.tenthL {
  animation: 1s ease-out 0s 1 flyUp;
}

